@import url("./catagory.css");
@import url("./ingredient.css");
@import url("./method.css");
@import url("./note.css");
@import url("./footer.css");
@import url("./comps/save_button.css");

:root {
  --border-color: var(--theme-grey);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}
main {
  display: grid;

  gap: 30px;
  padding-top: 40px;
  padding-bottom: 150px;
}
input {
  width: 100%;
  color: var(--theme-dk-text);
  border: none;
  caret-color: red;
}
input:focus {
  --border-color: var(--theme-blue);
  outline: none;
  border-bottom: solid 3px var(--border-color);
}
#recipe_name {
  font-size: 2.6rem;
  border-bottom: solid 3px var(--border-color);
  text-align: center;
  padding: 10px 0;
}

/* Catagory    +  */
.add-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: auto;

  color: var(--theme-lt-text);
}
.add-info:hover {
  cursor: pointer;
}
.add-info span {
  font-size: 2rem;
}
