.new-note-wrapper {
  margin-bottom: 30px;

  display: grid;
  place-items: center;

  gap: 20px;

  margin-top: 40px;
}

.new-note-wrapper img {
  width: 40px;
}

.new-note-wrapper textarea {
  width: 90%;
  margin: auto;
  font-size: 1.3rem;
  padding: 10px;
}

.finished-note-wrapper {
  overflow: hidden;
  margin: auto;
  width: 90%;
  margin: 30px auto;
}
.finished-note-wrapper p {
  padding: 20px;

  color: var(--theme-dk-text);

  background: rgba(0, 0, 0, 0.1);

  font-size: 1rem;

  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;

  width: 90vw;
}
