.new-note-wrapper {
  margin-bottom: 30px;
  padding: 40px 25px;

  display: grid;
  place-items: center;

  gap: 40px;

  margin-top: 30px;

  background: var(--theme-lt-grey);
}

.new-note-wrapper textarea {
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  padding: 10px;
}

.finished-note-wrapper {
  overflow: hidden;
  margin: auto;
  width: 90%;
  margin: 30px auto;
}
.finished-note-wrapper p {
  padding: 20px;

  color: var(--theme-dk-text);

  background: rgba(0, 0, 0, 0.1);

  font-size: 1.2rem;

  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;

  width: 85vw;
}
