.close-recipe-button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.edit-delete-container {
  display: grid;
  grid-auto-flow: column;

  width: max-content;

  font-size: 1.5rem;
}
.edit-button {
  border-right: var(--theme-blue) solid 3px;
  padding-right: 30px;
}
.delete-button {
  padding-left: 30px;
}

/* Single Recipe wrapper */
.recipe-name-wrapper {
  background: var(--theme-grey);

  color: var(--theme-dk-text);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  padding: 15px 0;

  width: 90%;

  margin: auto;

  overflow: hidden;
  text-overflow: ellipsis;
}

/* Recipe Pop up component */
.open-recipe-wrapper {
  position: fixed;
  top: 0;

  height: 100vh;
  width: 100vw;

  color: var(--theme-dk-text);
  background: white;

  padding: 120px 35px;

  overflow-y: scroll;
  z-index: 200;

  display: grid;
  gap: 60px;
}

/* Ingredients */
.ingredients-container {
  display: grid;
  gap: 15px;
}
.single-ingredient {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 50px 50px;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Methods */
.methods-container {
  display: grid;
  gap: 40px;
  font-size: 1.4rem;
}
.methods-container img {
  width: 40px;
  margin-right: 25px;
}
.single-method {
  display: flex;
  align-items: center;
}
