@import url("../components/single_recipe.css");

section {
  padding: 120px 0;
  margin: 0 30px;
  display: grid;
  gap: 30px;
}
section h1 {
  font-size: 3.2rem;
  color: var(--theme-dk-text);
}
section h6 {
  color: var(--theme-lt-text);
}
section h4 {
  color: var(--theme-lt-text);
}
