.header {
  /* 01. Used to reset styles after transition is closed via Header/index.js */
  --width: 65px;
  --height: 65px;
  width: var(--width);
  height: var(--height);
  /**************************************************/

  background: #c4c4c4;

  margin: 20px 30px;

  border-radius: 50%;

  transition: all 0.1s linear;

  overflow: hidden;

  z-index: 50;

  position: absolute;

  color: var(--theme-dk-text);

  box-shadow: 1px 1px 10px #333;
}

/* Navigation links in header.*/
.header nav {
  visibility: hidden;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-weight: 600;

  padding: 20px 30px;
}
.header nav #links {
  font-size: 48px;
  display: grid;
  gap: 5px;
}
.header nav #login,
.header nav #support {
  font-size: 28px;
  display: grid;
  gap: 10px;
}

.header nav span {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 48px;
  color: var(--theme-dk-text);
  z-index: 60;
}
.header nav span:hover {
  cursor: pointer;
}
