.header {
  /* 01. Used to reset styles after transition is closed via Header/index.js */
  --width: 55px;
  --height: 55px;
  width: var(--width);
  height: var(--height);
  /**************************************************/

  background: var(--theme-blue);

  margin: 20px 30px;

  border-radius: 50%;

  transition: all 0.1s linear;

  overflow: hidden;

  z-index: 50;

  position: fixed;
  right: 0;

  color: var(--theme-lt-text);

  box-shadow: 1px 1px 5px #333;
}

/* Navigation links in header.*/
.header nav {
  visibility: hidden;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-weight: 600;

  padding: 20px 30px;
}
.header nav #links {
  font-size: 48px;
  display: grid;
  gap: 20px;
}
.header nav #support {
  font-size: 20px;
  display: grid;
  gap: 20px;
}

.header nav span {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 48px;
  color: var(--theme-lt-text);
  z-index: 60;
}
.header nav span:hover {
  cursor: pointer;
}
